@model Web.Models.Reservations.ReservationsIndexViewModel


@using Microsoft.AspNetCore.Identity
@using Data.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "My reservations";
}

<div class="d-inline-flex w-100">
    <h1>My reservations</h1>
</div>

<hr />
@if (SignInManager.Context.User.IsInRole("Admin"))
{
    <form asp-controller="Reservations" asp-action="All" method="get">
        <input class="btn btn-info" type="submit" value="All reservations" />
    </form>
}

<br />
@if (Model.Reservations?.Any() ?? false)
{
    <ul class="list-inline text-dark">

        @foreach (var reservation in Model.Reservations)
        {
            <li class="pb-3">
                <div class="d-flex border border-info justify-content-between list-inline text-dark flex-wrap flex-column flex-md-row w-100">
                    <div class="col-md-1 col-0"></div>
                    <div class="my-5 col-md-8 col-12">
                        <h3 class="text-dark font-weight-bold">Room №@reservation.RoomNumber</h3>
                        <h5 class="text-dark ">@reservation.RoomType.ToString()</h5>
                        <div>
                            <p class="text-dark ">Total price: @reservation.Price $</p>
                            @if (reservation.AllInclusive)
                            {
                                <p class="text-dark "> All-inclusive: &#10004;</p>
                            }
                            else
                            {

                                <p class="text-dark ">All-inclusive: &#10008;</p>
                                if (reservation.Breakfast)
                                {
                                    <p class="text-dark "> Breakfast: &#10004;</p>
                                }
                                else
                                {
                                    <p class="text-dark "> Breakfast: &#10008;</p>
                                }
                            }
                        </div>
                        <p class="text-dark ">Reservarion dates: @reservation.AccommodationDate.ToString("dd/MM/yyyy") - @reservation.ReleaseDate.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col-md-3 col-3 float-end align-self-center">
                        <form asp-controller="Reservations" asp-action="Details" asp-route-id="@reservation.Id" method="get" class="my-2">
                            <input class="btn btn-info" type="submit" value="Info" />
                        </form>
                        <form asp-controller="Reservations" asp-action="Update" asp-route-id="@reservation.Id" method="get" class="my-2">
                            <input class="btn btn-primary" type="submit" value="Change" />
                        </form>
                        <form asp-controller="Reservations" asp-action="Delete" asp-route-id="@reservation.Id" class="my-2"
                              method="post">
                            <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to cancel the reservation?')" value="Cancel" />
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
    <partial name="_PaginationPartial" model="Model" />
}
else
{
    <h3>No reservations made yet</h3>
}

