@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Currently free rooms as of today</h1>

<hr />
<div class="d-flex align-items-center mt-3">
    <p class="mx-3 mb-0 h3">You can search all rooms and make a reservation</p>
    <form asp-controller="Rooms" asp-action="Index" method="get">
        <input type="submit" class="btn btn-primary" value="See All" />
    </form>
</div>
<div class="my-4">
    <p>Prices starting from <strong>@Model.MinPrice$</strong> up to <strong>@Model.MaxPrice$</strong> / night</p>
    <p>Total reservations made all-time: <strong>@Model.TotalReservationsMade</strong></p>
    <p>Breakfast only for <strong>@Model.BreakfastPrice$</strong></p>
    <p>All-inclusive only for <strong>@Model.AllInclusivePrice$</strong></p>
</div>
<br />

<ul class="list-inline text-dark d-flex flex-wrap flex-column flex-md-row w-100">
    @foreach (var roomCard in Model?.Rooms.OrderBy(x => x.Number))
    {
        <li class="pb-3 col-md-6 col-12">
            <a asp-controller="Rooms" asp-action="Details" asp-route-id="@roomCard.Id"
               class="content-heading clearfix media box-hover text-decoration-none border border-info rounded blue-card">
                <div class="d-flex flex-md-row flex-column">
                    <div class="col-md-6 col-12 align-items-center d-flex justify-content-center">
                        <img src="@roomCard.ImageUrl" alt="Room image" class="d-block w-100" />
                    </div>
                    <div class="m-5 ml-4 col-md-6 col-12">
                        <h3 class="text-dark font-weight-bold">Room №@roomCard.Number</h3>
                        <p class="text-dark ">Capacity: @roomCard.Capacity</p>
                        <p class="text-dark ">Room type: @roomCard.Type</p>
                        <p class="text-dark ">Children price: @roomCard.ChildrenPrice$</p>
                        <p class="text-dark ">Adult price: @roomCard.AdultPrice$</p>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>

<partial name="_PaginationPartial" model="Model" />