@model Web.Models.Rooms.RoomViewModel
@using Microsoft.AspNetCore.Identity
@using Data.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h2>Room Details</h2>

<div>
    <h4>Room №@Model.Number</h4>
    <form asp-controller="Reservations" asp-action="Create" asp-route-id="@Model.Id" method="get">
        <input class="btn btn-success" type="submit" value="Reserve" />
    </form>
    <dl class="pb-3 dl-horizontal ">

        <dt>
            @Html.DisplayNameFor(model => model.Capacity):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdultPrice):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdultPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildrenPrice):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildrenPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTaken):
        </dt>
        @if (Model.IsTaken)
        {
            <dd>
                &#10004;
            </dd>
        }
        else
        {
            <dd>
                &Chi;
            </dd>
        }
        @if (SignInManager.Context.User.IsInRole("Admin") || SignInManager.Context.User.IsInRole("Admin"))
        {
            
            <dt>
                @Html.DisplayNameFor(model => model.Reservations):
            </dt>
            <dd>
                <ul class="list-group pb-3 list-inline">
                    @foreach (var res in Model.Reservations.OrderBy(x => x.ReleaseDate))
                    {
                    <li class="list-group-item">
                        <p class="text-dark ">Price: @res.Price</p>
                        <p class="text-dark ">Accomodation Date: @res.AccommodationDate.ToString("dd/MM/yyyyг.")</p>
                        <p class="text-dark ">Release Date: @res.ReleaseDate.ToString("dd/MM/yyyyг.")</p>
                        @if (res.Breakfast)
                        {
                    <p class="text-dark ">Breakfast: &#10004;</p>
                        }
                        else
                        {
                    <p class="text-dark ">Breakfast: &Chi;</p>
                        }
                        @if (res.AllInclusive)
                        {
                    <p class="text-dark ">All-Inclusive: &#10004;</p>
                        }
                        else
                        {
                            <p class="text-dark ">Breakfast: &Chi;</p>
                        }
                        <p class="text-dark ">Clients: @(res.Clients.Count+1)</p>
                    </li>
                    }
                </ul>
            </dd>
        }

    </dl>
</div>
<div>
    @if (SignInManager.Context.User.IsInRole("Admin") || SignInManager.Context.User.IsInRole("Admin"))
    {
        <a asp-action="Update" asp-route-id="@Model.Id">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
