@model Web.Models.Rooms.RoomViewModel
@using Microsoft.AspNetCore.Identity
@using Data.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Room Details";
}

<h2>Room №@Model.Number Details</h2>

<hr />
<div>
    <form asp-controller="Reservations" asp-action="Create" asp-route-id="@Model.Id" method="get">
        <input class="btn btn-success" type="submit" value="Reserve" />
    </form>
    <dl class="pb-3 dl-horizontal ">

        <dt>
            @Html.DisplayNameFor(model => model.Capacity):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdultPrice): 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdultPrice) $
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildrenPrice):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildrenPrice) $
        </dd>
        @if (SignInManager.Context.User.IsInRole("Employee") || SignInManager.Context.User.IsInRole("Admin"))
        {

            <dt>
                @Html.DisplayNameFor(model => model.Reservations):
            </dt>
            <dd>
                <ul class="list-group pb-3 list-inline">
                    @foreach (var res in Model.Reservations.OrderBy(x => x.ReleaseDate))
                    {
                    <li class="list-group-item blue-card">
                        <p class="h5">Reservation #@res.Id</p>
                        <p class="text-dark mb-0">Price: @res.Price$</p>
                        <p class="text-dark mb-0">Period: @res.AccommodationDate.ToString("dd/MM/yyyy") - @res.ReleaseDate.ToString("dd/MM/yyyy")</p>
                        @if (res.AllInclusive)
                        {
                            <p class="text-dark mb-0">All-Inclusive: &#10004;</p>
                        }
                        else if (res.Breakfast)
                        {
                            <p class="text-dark mb-0">Breakfast: &#10004;</p>
                        }
                        else
                        {
                            <p class="text-dark mb-0">Breakfast: &#10008;</p>
                        }
                        <p class="text-dark mb-0">Clients: @(res.Clients.Count+1)</p>
                    </li>
                    }
                </ul>
            </dd>
        }

    </dl>
</div>
<div>
    @if (SignInManager.Context.User.IsInRole("Employee") || SignInManager.Context.User.IsInRole("Admin"))
    {
        <a asp-action="Update" asp-route-id="@Model.Id">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
