@model Web.Models.ViewModels.RoomIndexViewModel
@using Microsoft.AspNetCore.Identity
@using Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
}
<h1>Rooms</h1>

@if (SignInManager.Context.User.IsInRole("Admin"))
{
    <form asp-controller="Rooms" asp-action="Create" method="get">
        <input class="btn btn-info" type="submit" value="Add room" />
    </form>
}

<div class="d-inline-flex w-100">
    <form class="d-inline-flex col-md-4 m-auto"
          asp-controller="Rooms" asp-action="Index" method="get">
        <input class="form-control" name="search" placeholder="Filter by capacity or type" />
        <input class="btn btn-primary" type="submit" value="Search for rooms" />
    </form>
</div>
<hr />

@if (Model?.Rooms?.Any() ?? false)
{
    <ul class="list-inline text-dark">

        @foreach (var room in Model.Rooms)
        {
            <li class="pb-3">
                <div class="d-flex">
                    <div class="m-5 col-md-6 ml-4">
                        <h3 class="text-dark font-weight-bold">@room.Number</h3>
                        <h5 class="text-dark "> @room.Type.ToString()</h5>
                        <p class="text-dark "> @room.AdultPrice</p>
                        <p class="text-dark ">@room.ChildrenPrice</p>
                        <p class="text-dark "> @room.IsTaken</p>
                    </div>
                    <div class="m-5 col-md-6 float-end">
                        <form asp-controller="Rooms" asp-action="Details" asp-route-id="@room.Id" method="get">
                            <input class="btn btn-info" type="submit" value="Info" />
                        </form>
                        <form asp-controller="Reservations" asp-action="Create" asp-route-id="@room.Id" method="get">
                            <input class="btn btn-success" type="submit" value="Reserve" />
                        </form>
                        @if (SignInManager.Context.User.IsInRole("Admin"))
                        {
                            <form asp-controller="Rooms" asp-action="Update" asp-route-id="@room.Id" method="get">
                                <input class="btn btn-primary" type="submit" value="Change" />
                            </form>
                            <form asp-controller="Rooms" asp-action="Delete" asp-route-id="@room.Id"
                                  method="post">
                                <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete?')" value="Delete" />
                            </form>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <h1>No rooms added yet</h1>
}