@model Web.Models.ViewModels.RoomIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="d-inline-flex w-100">
    <h1>Rooms</h1>
    <form class="d-inline-flex col-md-4 m-auto"
          asp-controller="Room" asp-action="Index" method="get">
        <input class="form-control" name="Search" placeholder="Filter by capacity or type" />
        <input class="btn btn-primary" type="submit" value="Search for rooms" />
    </form>
</div>
@if (Model.Rooms?.Any() ?? false)
{
    <ul class="list-inline text-dark">

        @foreach (var room in Model.Rooms)
        {
            <li class="pb-3">
                <div class="d-flex">
                    <div class="m-5 col-md-6 ml-4">
                        <h3 class="text-dark font-weight-bold">@room.Number</h3>
                        <h5 class="text-dark "> @room.Type.ToString()</h5>
                        <p class="text-dark "> @room.AdultPrice</p>
                        <p class="text-dark ">@room.ChildrenPrice</p>                       
                        <p class="text-dark "> @room.IsTaken</p>
                    </div>
                    <div class="m-5 col-md-6 float-end">
                        <form asp-controller="Room" asp-action="Details" asp-route-id="@room.Id" method="get">
                            <input class="btn btn-info" type="submit" value="Info" />
                        </form>
                        <form asp-controller="Room" asp-action="Update" asp-route-id="@room.Id" method="get">
                            <input class="btn btn-primary" type="submit" value="Change" />
                        </form>
                        <form asp-controller="Room" asp-action="Delete" asp-route-id="@room.Id"
                              method="post">
                            <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete?')" value="Cancel" />
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <h1>No rooms added yet</h1>
}