@model UserIndexViewModel

@{
    ViewData["Title"] = "All Users";
}

<div class="d-inline-flex w-100">
    <h1>Users</h1>
    <form class="d-inline-flex col-md-4 m-auto"
          asp-controller="Users" asp-action="All" method="get">
        <input class="form-control" name="Search" placeholder="User name or email" />
        <input class="btn btn-primary" type="submit" value="Try Find Users" />
    </form>
</div>

<div class="col-md-12">
    <div asp-validation-summary="All" class="d-flex justify-content-center m-auto text-danger w-100"></div>
</div>
<br />

<ul class="list-inline text-dark d-flex flex-wrap flex-column flex-md-row w-100">
    @foreach (var userCard in Model.Users.Where(x => !(x.EmployeeDataIsActive??false)&&x.UserName!="Admin"))
    {
        <li class="pb-3 col-md-6 col-12">
            <a asp-controller="Users" asp-action="Promote" asp-route-id="@userCard.Id"
               class="content-heading clearfix media box-hover text-decoration-none border border-info rounded blue-card">
                <div class="d-flex">
                    <div class="m-5 ml-4">
                        <h3 class="text-dark font-weight-bold">@userCard.UserName</h3>
                        <h5 class="text-dark ">@userCard.FirstName @userCard.LastName</h5>
                        <p class="text-dark ">@userCard.Email</p>
                        <p class="text-dark ">Phone number: @userCard.PhoneNumber</p>
                        <p class="text-dark ">Is Adult: @userCard.IsAdult</p>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>

<partial name="_PaginationPartial" model="Model" />