@model EmployeesIndexViewModel

@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "All employees";
}

<h1 class="text-center">Employees</h1>
<hr />
<div class="d-inline-flex w-100 justify-content-between">
    @if (SignInManager.Context.User.IsInRole("Admin"))
    {
        <div class="d-flex">
            <form asp-controller="Users" asp-action="All" method="get">
                <input class="btn btn-info mr-3" type="submit" value="All Users" />
            </form>

            <form asp-controller="Users" asp-action="Add" method="get">
                <input class="btn btn-info" type="submit" value="Add" />
            </form>
        </div>
    }
    <form class="d-inline-flex"
          asp-controller="Users" asp-action="Index" method="get">
        <input class="form-control" name="Search" placeholder="Employee name or email" />
        <input class="btn btn-primary" type="submit" value="Try Find Employee" />
    </form>
    <form class="d-inline-flex"
          asp-controller="Users" asp-action="Index" method="get">
        <input class="btn btn-primary" type="submit" value="Show All" />
    </form>
</div>


<div class="col-md-12">
    <div asp-validation-summary="All" class="d-flex justify-content-center m-auto text-danger w-100"></div>
</div>
<br />

<ul class="list-inline text-dark">
    @foreach (var employeeCard in Model?.Employees.Where(x => x.IsActive == true))
    {
        <li class="pb-3">
            <div class="d-flex border border-info rounded blue-card justify-content-between list-inline text-dark flex-wrap flex-column flex-md-row w-100">
                <div class="col-md-1 col-0"></div>
                    <div class="my-5 col-md-8 col-12">
                        <h3 class="text-dark font-weight-bold">@employeeCard.UserUserName</h3>
                        <h5 class="text-dark "> @employeeCard.UserFirstName @employeeCard.SecondName @employeeCard.UserLastName</h5>
                        <p class="text-dark ">@employeeCard.UserEmail</p>
                        <p class="text-dark ">@employeeCard.UserPhoneNumber</p>
                        <p class="text-dark ">Active &#10004;</p>
                        <p class="text-dark ">Date of appointment: @employeeCard.DateOfAppointment.ToString("dd/MM/yyyyг.")</p>
                    </div>
                @if (SignInManager.Context.User.IsInRole("Admin"))
                {
                    <div class="col-md-3 col-3 float-end align-self-center">
                        <form asp-controller="Users" asp-action="Update" asp-route-id="@employeeCard.UserId" class="my-2" method="get">
                            <input class="btn btn-info" type="submit" value="Update" />
                        </form>
                        <form asp-controller="Users" asp-action="Delete" asp-route-id="@employeeCard.UserId" class="my-2" method="post">
                            <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to fire the employee?')" value="Fire" />
                        </form>
                    </div>
                }
            </div>
        </li>
    }
</ul>
<partial name="_PaginationPartial" model="Model" />