@model EmployeeInputModel

@{
    ViewData["Title"] = "Promote user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Promote User</h1>
<hr />

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Users" asp-action="Promote" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.FirstName"></label>
                <input readonly asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SecondName"></label>
                <input asp-for="@Model.SecondName" class="form-control" />
                <span asp-validation-for="@Model.SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.LastName"></label>
                <input readonly asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UCN"></label>
                <input asp-for="@Model.UCN" class="form-control" />
                <span asp-validation-for="@Model.UCN" class="text-danger"></span>
                <small class="text-dark">Note: Please enter valid UCN</small>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserName"></label>
                <input readonly asp-for="@Model.UserName" class="form-control" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input readonly asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneNumber"></label>
                <input readonly asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.IsAdult"></label>
                <input readonly asp-for="@Model.IsAdult" class="form-control" />
                <span asp-validation-for="@Model.IsAdult" class="text-danger"></span>
            </div>
            <input hidden asp-for="@Model.Password" class="form-control" value="password" />
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success submit-but">Promote Employee</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}